/* width */
::-webkit-scrollbar {
    width: 6px;
  }

  /* Track */

  ::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent;
    border: transparent;
    box-shadow: 0px 0px 5px grey inset;
  }

  /* Handle */

  ::-webkit-scrollbar-thumb {
    background-color: #00a080;
    border-radius: 10px;
    border: transparent;
  }

  /* Handle on hover */

  ::-webkit-scrollbar-thumb:hover {
    background-color: #006d57;
  }